<app-header></app-header>
<div class="content">
  <div class="content-info">
    <h1>Pick a date to see the exchange rates</h1>
    <hr>
    <p>This web application uses CBT (Central Bank of the Republic of Türkiye) to gather all information about exchange rates. There are no information provided on the weekends (Saturday and Sunday) i.e. https://www.tcmb.gov.tr/kurlar/today.xml</p>
    <img width="30%" src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f2/The_CBRT_Logo.svg/1200px-The_CBRT_Logo.svg.png" alt="">
    <span *ngIf="GetLoggedIn() === 'false'"><p>In order to pick a date and see the corresponding exchange rates, <span><button (click)="OpenLoginDialog();" class="btn btn-primary">Log In</button></span></p></span>
  </div>
  <app-currencies></app-currencies>
</div>